.header-search
    .header-search__logo HiChat
    .header-search__input
        input(type="text")

.add-friend
    .add-friend__label Friends
    .add-friend__button
        button(type="button") New

.friends-list

    .friend-preview
        .friend-preview__img
            img(src="https://fakeimg.pl/55x55/")
        .friend-preview__content
            .friend-preview__name Will Smith
            .friend-preview__message Lorem ipsum dolor sit amet consectetur.
        .friend-preview__time 2 p.m.

    .friend-preview
        .friend-preview__img
            img(src="https://fakeimg.pl/55x55/")
        .friend-preview__content
            .friend-preview__name Will Smith
            .friend-preview__message Lorem ipsum dolor sit amet consectetur.
        .friend-preview__time 2 p.m.